body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.5s, color 0.5s;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.date-input {
    margin-bottom: 20px;
}

.theme-switcher {
    margin-bottom: 20px;
}

#result-box {
    background-color: #e6e6e6;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#result {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#result label {
    font-weight: bold;
    margin-top: 10px;
}

#result input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.dark-theme {
    background-color: #333;
    color: #f4f4f4;
}

.dark-theme #result-box {
    background-color: #444;
    border-color: #666;
}

.dark-theme input {
    background-color: #555;
    color: #fff;
    border-color: #666;
}
